body {
    margin: 0;
    padding: 0;
    /* background-color:#f1f1f1; */
    background-image: url('img/background.png');
    background-size: cover;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}

header {
    font-family: "Chicle", serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: bisque !important;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    ;
}

.block-wrapper {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px 35px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.02);
    background-color: bisque;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    font-weight: 900;
}

.info-wrapper .input-wrapper {
    margin: 10px 0;
}

.info-wrapper .input-wrapper>* {
    display: block;
}

.info-wrapper .input-wrapper input {
    width: 100%;
    margin-top: 5px;
    padding: 7px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
}

.info-wrapper button {
    cursor: pointer;
    padding: 5px 10px;
    border: solid 2px;
    border-radius: 25px;
    border-color: burlywood;
    background-color: bisque;
}

.info-wrapper button:hover {
    color: white;
    background-color: burlywood;
}

.info-wrapper .input-wrapper input.error {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.2);
}

.info-wrapper .input-wrapper span.error {
    color: red;
}

.info-wrapper .input-wrapper span.error:not(.show) {
    display: none;
}

.animate-charcter {
    font-size: 300%;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #342519 0%,
            #684F36 29%,
            #B39977 67%,
            #EDE6D9 100%);
    background-size: 300% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 300% center;
    }
}